.container-general{
  background-color: #282c34;
  min-height: 100vh;
}
.form-container {
  padding-top: 3%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 3vmin);
  color: white;
}

.logo-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo{
  width: 22%;
}